<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
      <a class="navbar-brand" routerLink="/login/user">CRUD TEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login/user" routerLinkActive="active">Peliculas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/peliculas/add" routerLinkActive="active">Agregar Pelicula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/peliculas/correo" routerLinkActive="active">Mandar correo</a>
        </li>
      </ul>
      <button class="btn btn-md btn-danger" (click)="removeCookie()"><i class="fa fa-sign-out" aria-hidden="true"></i>
        sign out</button>
    </div>
    </div>
  </nav>
